.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width:100vw;
    padding: 1em 0px 0.5em 0px;
}

.foreground {
    width:100vw;
    display: flex;
    justify-content: space-around;
    z-index:1;
}

.barspacer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    height: 0.5px;
    width: 100%;
    border: none;
    background-color: #BABABA;
}

.brand {
    background: #FFFAF2;
    padding: 0px 1em 0px 1em;
}

.brand_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand_image {
    margin:auto;
    display:inline-block;
    width:2em;
    margin-right:8px;
}

.brand_name {
    display:inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
}

.tracker{
    background: #FFFAF2;
    padding: 0px 30px 0px 30px;
}

.tracker_text{
    margin:auto;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}