.content {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 122px);
  padding: 0 8em 0 8em;
}

.scroller {
  width: 600px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow:scroll;
  scroll-behavior: smooth;
}

.scroller::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}