.content {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  height: calc(100vh - 122px);
}

.scroller {
  width: 600px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}

.scroller::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}