.landing_container {
    width:100%;
    margin-bottom: 4em;
  }
  
.landing_textbox {
  height: 20em;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-left: 3px solid black;
}

.text_row{

}
.h2 {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  color: black;
  padding-left: 12px;
}

.h2_red {
  color: #6D0303;
  margin-left: 10px;
  letter-spacing: 2px;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #6D0303; }
}

.brand_name {
  border-left: 3px solid black;
  padding-left: 12px;
  display:inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}