.nav_container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: scroll;

    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.nav_container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.nav {
}

.navitem_container {
    border-left: 3px solid #6D0303;
}

.nav_list {
    height: 9em;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 3px solid #6D0303;
}

.navitem {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;

    color: #6D0303;

    padding-left: 12px;
}

.navitem_active {
    color: black;
    padding-left:1em;
}

.navitem:hover{
    transition-duration: 0.1s;
    color: #2E0101;
    padding-left:1em;
}