.project_container {
    margin-bottom: 150px;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    display:inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.projects {
    margin-top: 50px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding: 17px 0px 17px 0px;
}

.foreground {
    display: flex;
    justify-content: space-around;
    z-index:1;
}

.barspacer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index:1;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;

    background: #FFFAF2;
    padding: 0px 30px 0px 30px;
}

.line {
    width:100%;
    position: absolute;
    height: 0.5px;
    border: none;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(145,144,152,1) 15%, rgba(186,186,186,1) 85%, rgba(0,0,0,0) 100%);
}

.media {
    height:225px;
    border: 0.5px solid #BABABA;
}

.description_container{
    border-left: 3px solid black;
    padding-left: 8px;
}

.description_text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: light;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media_icon {
    width:30px;
    margin: 0px 10px 10px 10px;
}

.media_icon:hover {
    opacity:0.6;
    transition-duration: 0.1s;
}

.readmore_text {
    margin-left: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6D0303;
}

.readmore_text:hover{
    color: #2E0101;
    margin-left: 3px;
    transition-duration: 0.1s;
}